:root {
  --parallax_size_1: 250px;
  --parallax_size_2: 250px;
  --home_title_img: url("https://images.unsplash.com/photo-1462143338528-eca9936a4d09?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
  --tree_title_img: url("https://images.unsplash.com/photo-1501856054482-8b7fbff7b3fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2500&q=80");
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Trirong", serif;
  font-weight: 400;
  line-height: 1.8em;
  background-color: rgb(250, 250, 250);
}

.section {
  min-height: 100%;
}

.min_height_full {
  min-height: 100%;
}

.min_height_75 {
  min-height: 75%;
}

.min_height_half {
  min-height: 50%;
}

.min_height_quarter {
  min-height: 25%;
}

#section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--home_title_img);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section3 {
  background-color: #dbcdb8;
  background-image: linear-gradient(315deg, #dbcdb8 0%, #f5f7fa 74%);
}

.title-header {
  font-family: "Trirong", serif;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 70px;
  letter-spacing: 3px;
}

.header {
  font-family: "Trirong", serif;
  letter-spacing: 3px;
  margin-top: 80px;
  text-align: center;
}

#section05 a span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  z-index: 999;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.parallax {
  background-image: url("https://images.unsplash.com/photo-1528543606781-2f6e6857f318?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1065&q=80");
  min-height: var(--parallax_size_1);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex_container {
  display: flex;
  height: 100%;
  margin: 1rem 1rem;
}

.container {
  min-height: 400px;
}

.container_500 {
  min-height: 500px;
}

.container_550 {
  min-height: 550px;
}

.container_600 {
  min-height: 600px;
}

.container_full {
  min-height: 100%;
}

.container_half {
  min-height: 50%;
}

.container_quarter {
  min-height: 25%;
}

.testContainer {
  width: 50%;
  margin: 3rem 0;
}

.container_33 {
  width: 33.333%;
}

@media screen and (max-width: 992px) {
  .flex_container {
    flex-direction: column;
  }
  .testContainer {
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  .tree_responsive_container {
    min-width: 100%;
    text-align: center;
  }
}

.picture_container {
  height: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.img {
  height: 85%;
  width: 80%;
  background-color: black;
  transition: all 1.5s;
}

.picture_container:hover .img,
.picture_container:focus .img {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  height: 250px;
  background-color: rgb(216, 216, 216);
}

.flex_direction_column {
  flex-direction: column;
}

.flex_direction_row {
  flex-direction: row;
}

.half_height {
  height: 50%;
}

.footer-ul {
  display: flex;
  list-style: none;
}

.full_height {
  height: 100%;
}

.third_height {
  height: 33.333%;
}

.full_width {
  width: 100%;
}

.width_75 {
  width: 75%;
}

.half_width {
  width: 50%;
}

.quarter_width {
  width: 25%;
}

.zero_margin {
  margin: 0;
}

.zero_padding {
  padding: 0;
}

.border_red {
  border: 1px solid red;
}

.border_green {
  border: 1px solid green;
}

.border_purple {
  border: 1px solid purple;
}

.border_orange {
  border: 1px solid orange;
}

.flex_1 {
  flex: 1;
}

.flex_end {
  justify-content: flex-end;
}

.justify_end {
  justify-content: end;
}

.justify_center {
  justify-content: center;
}

.justify_space {
  justify-content: space-around;
}

.align_items_center {
  align-items: center;
}

.margin_left_30 {
  margin-left: 30px;
}

.margin_right_30 {
  margin-right: 30px;
}

.margin_horizontal {
  margin: 0 30px;
}

.margin_horizontal_full {
  margin: 0 100%;
}

.margin_horizontal_75 {
  margin: 0 75%;
}

.margin_horizontal_half {
  margin: 0 50%;
}

.margin_horizontal_quarter {
  margin: 0 25%;
}

.margin_horizontal_small {
  margin: 0 10%;
}

.margin_horizontal_xs {
  margin: 0 5%;
}

.margin_ver {
  margin-top: 20px;
  margin-bottom: 100px;
}

.margin_vertical {
  margin: 20px auto;
}

.margin_vertical_full {
  margin: 100% auto;
}

.margin_vertical_half {
  margin: 50% auto;
}

.margin_vertical_quarter {
  margin: 25% auto;
}

.margin_vertical_small {
  margin: 10% auto;
}

.margin_vertical_xs {
  margin: 5% auto;
}

.margin_center_horizontal {
  margin: 0 auto;
}

.margin_center_vertical {
  margin: 50% 0;
}

.margin_half_horizontal {
  margin: 0 50%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom_zero {
  bottom: 0;
}

.right_zero {
  right: 0;
}

.flex {
  display: flex;
}

.list_none {
  list-style: none;
}

.text_align_center {
  text-align: center;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.padding_top {
  padding: 10px 0 0 0;
}

.grid {
  display: grid;
}

.grid_template_columns_auto_2 {
  grid-template-columns: auto auto;
}

.gap_10px {
  gap: 50px;
}

.grid_gap_full {
  grid-gap: 100%;
}

.grid_gap_75 {
  grid-gap: 75%;
}

.grid_gap_half {
  grid-gap: 50%;
}

.grid_gap_quarter {
  grid-gap: 25%;
}

.grid_gap_small {
  grid-gap: 10%;
}

.grid_gap_xs {
  grid-gap: 5%;
}

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#tooltip {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: bisque;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

/*Bounce*/
@keyframes kreep {
  0% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

h1.kreep {
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 0.7s ease 2s infinite alternate;
}

h1.kreep:hover {
  animation: none;
}
/*END BOUNCER*/

/*****background*****/
#section2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--tree_title_img);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* modal */
.shadow {
  z-index: 2;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-modal {
  width: 350px;
  height: 300px;
  background: #fff;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hideModal {
  z-index: -1;
  opacity: 0;
  animation: hide 0.25s;

  transform: scale(0);
}
@keyframes hide {
  from {
    z-index: 2;
    transform: scale(1);
    opacity: 1;
  }
  to {
    z-index: -1;
    transform: scale(0);
    opacity: 0;
  }
}
.showModal {
  opacity: 1;
  z-index: 2;
  animation: show 0.2s;

  transform: scale(1);
}
@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}
